

.Logo {
    height: 20vh;
    object-fit: contain;
    cursor: pointer;
}

.nav-items {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 25%;
}

.nav-items span {
    display: inline-block;

}

.menu-icon {
    display: none;
}



@media (max-width: 900px) {
    .nav-items {
        width: 40%;
    }
    .menu-icon {
        display: none;
    }
}


@media (max-width: 500px) {
    nav img {
        height: 15vh;
    }  
    
    .nav-items {
        display: none;
    }
    .menu-icon {
        display: inline-block;
    }
    
}